__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
/models/
/temp/
/custom_nodes/
!custom_nodes/example_node.py.example
extra_model_paths.yaml
/.vs
.vscode/
.idea/
venv*/
.venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/
*.log
web_custom_versions/
.DS_Store
filtered-openapi.yaml
uv.lock
ComfyUI.exe
ComfyUI.exe
ComfyUI.exe
Uninstall ComfyUI.exe
*.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/winpty-agent.exe
resources/app.asar
resources/app.asar.unpacked/node_modules/node-pty/build/Release/pty.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/pty.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/pty.node
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty.node
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty.iobj
resources/app.asar.unpacked/node_modules/node-pty/third_party/conpty/1.23.251008001/win10-arm64/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/third_party/conpty/1.23.251008001/win10-x64/OpenConsole.exe
resources/app.asar.unpacked/node_modules/@sentry/cli/node_modules/@sentry/cli-win32-x64/bin/sentry-cli.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-arm64/conpty/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/conpty/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-arm64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty_console_list.node
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty_console_list.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty_console_list.iobj
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty-agent.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty-agent.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty.node
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty.dll
resources/app.asar.unpacked/node_modules/node-pty/build/Release/pty.node
resources/app.asar.unpacked/node_modules/node-pty/build/Release/pty.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/pty.iobj
resources/app.asar
resources/app.asar.unpacked/node_modules/@sentry/cli/node_modules/@sentry/cli-win32-x64/bin/sentry-cli.exe
resources/app.asar
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty.ipdb
resources/elevate.exe
resources/elevate.exe
resources/elevate.exe
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-arm64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/@sentry/cli/node_modules/@sentry/cli-win32-x64/bin/sentry-cli.exe
resources/elevate.exe
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-arm64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/conpty/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-arm64/conpty/OpenConsole.exe
resources/app.asar.unpacked/node_modules/@sentry/cli/node_modules/@sentry/cli-win32-x64/bin/sentry-cli.exe
resources/app.asar.unpacked/node_modules/node-pty/third_party/conpty/1.23.251008001/win10-x64/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/third_party/conpty/1.23.251008001/win10-arm64/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/third_party/conpty/1.23.251008001/win10-arm64/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/third_party/conpty/1.23.251008001/win10-x64/OpenConsole.exe
resources/app.asar.unpacked/node_modules/@sentry/cli/node_modules/@sentry/cli-win32-x64/bin/sentry-cli.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-arm64/conpty/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/conpty/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-arm64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty-agent.exe
resources/elevate.exe
resources/app.asar.unpacked/node_modules/node-pty/third_party/conpty/1.23.251008001/win10-arm64/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/third_party/conpty/1.23.251008001/win10-x64/OpenConsole.exe
resources/app.asar.unpacked/node_modules/@sentry/cli/node_modules/@sentry/cli-win32-x64/bin/sentry-cli.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-arm64/conpty/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/conpty/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-arm64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty_console_list.node
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty_console_list.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty_console_list.iobj
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty-agent.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty-agent.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty.node
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty.dll
resources/app.asar.unpacked/node_modules/node-pty/build/Release/pty.node
resources/app.asar.unpacked/node_modules/node-pty/build/Release/pty.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/pty.iobj
resources/app.asar
resources/app.asar
resources/app.asar.unpacked/node_modules/node-pty/build/Release/pty.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/pty.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/pty.node
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty.dll
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty.node
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty-agent.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/winpty-agent.ipdb
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty_console_list.iobj
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty_console_list.ipdb
resources/app.asar.unpacked/node_modules/node-pty/build/Release/conpty_console_list.node
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-arm64/winpty-agent.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-x64/conpty/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/prebuilds/win32-arm64/conpty/OpenConsole.exe
resources/app.asar.unpacked/node_modules/@sentry/cli/node_modules/@sentry/cli-win32-x64/bin/sentry-cli.exe
resources/app.asar.unpacked/node_modules/node-pty/third_party/conpty/1.23.251008001/win10-x64/OpenConsole.exe
resources/app.asar.unpacked/node_modules/node-pty/third_party/conpty/1.23.251008001/win10-arm64/OpenConsole.exe
